.timer {
  font-size: 2rem;
  grid-area: t;
  text-align: center;
  
}
.exercise {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 3rem;
  grid-area: e;
}

.keyboard {
  text-align: center;
  padding: 1rem;
  font-size: 1.125rem;
  grid-area: k;
}

.wrapper {
 max-width: 500px;
 margin: 0 auto;
 display: grid;
 grid-template-areas: "t"
                      "e"
                      "k";
 justify-content: center;
 flex-wrap: wrap;
}